
{% extends "base.html" %}

{% block content %}
    {% if current_hour|length == 0 %}
        <H1>Good Morning</H1>
    {% else %}
        <h1>Good Afternoon </h1>
    {% endif %}

    <div>
            <style>
                    body, html {
                        height: 100%;
                        margin: 0;
                    }
                    
                    .bg {
                        /* The image used */
                        background-image: url("/static/images/alpha_romeo.jpg");
                    
                        /* Full height */
                        height: 50%; 
                    
                        /* Center and scale the image nicely */
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    </style>
    
       
     </div>
     <div class="bg"></div>
     <div class="container-fluid">
         <main><!-- for screenreaders -->          
                <h1>Welcome to AM AUTOS</h1>
                <h2>Here is a little bit about our business</h2>
                <p>
                    Executive Summary Example From:&nbsp;&nbsp;<a href="https://www.bplans.com/used_auto_sales_business_plan/executive_summary_fc.php">https://www.bplans.com/used_auto_sales_business_plan/executive_summary_fc.php</a></p>
              
                 <p>
                    There is a need in Lane County for a large selection of quality used cars, and Integrity Auto Sales will sell these top-quality used vehicles at a competitive price. The owner and sales manager have over 30 years of combined experience in new and used auto sales. We will continue to develop our excellent working relationship with local dealers and auctions to bring the savings to the customer.
                    
                    We will be successful because we offer something different; a pleasant car buying experience. We will create a purchasing environment that caters to the customer's needs. We are selling a professional service and an experience in car buying that will bring customers back again, as well as referring friends and family. We estimate an optimistic gross margin over the industry average. We will be successful because of the excellent team we have assembled and the drive and determination of the owners.</p>
        </main>
    </div>

{% endblock %}


