<!doctype html>
<html>

<head>
<title>AM AUTO</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>


    <menu>
        <div class="topnav" id="myTopnav">
              <a href="/">HOME</a>
              <a href="/search">SEARCH INVENTORY</a>
              <a href="/about">ABOUT</a>
              <a href="/comments">USER COMMENTS</a>
              <a href="/register">REGISTER</a>
              <a href="/login">LOGIN</a>
              <a href="/logout">LOGOUT</a>
        </div>
    </menu>


    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>