<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>AM AUTO</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap-4.0.0-beta.3-dist/css/bootstrap.css')}}"/>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='dropdown.css')}}"/>      
    
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">AM AUTOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
      
            <li class="nav-item dropdown">
      
              <div class="dropdown">
                <button onclick="amautoDropdown()" class="dropbtn">ABOUT</button>
                <div id="amautoDropdownButton" class="dropdown-content">
                  <a href="/about">About AM Autos</a>
                  <a href="#">Contact</a>
                  <a href="#">Carrier Links</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comments">User Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search Inventory</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Site" aria-label="Search Site">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Site</button>
          </form>
        </div>
      </nav>


                                      
<!--
    <menu>
        <div class="topnav" id="myTopnav">
              <a href="/">HOME</a>
              <a href="/search">SEARCH INVENTORY</a>
              <a href="/about">ABOUT</a>
              <a href="/comments">USER COMMENTS</a>
              <a href="/register">REGISTER</a>
              <a href="/login">LOGIN</a>
              <a href="/logout">LOGOUT</a>
        </div>
    </menu> -->

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

    
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dropdown.js') }}"></script>
    
</body>
</html>