
{% extends "base.html" %}

{% block content %}

 <div>
        <style>
                body, html {
                    height: 100%;
                    margin: 0;
                }
                
                .bg {
                    /* The image used */
                    background-image: url("/static/images/alpha_romeo.jpg");
                
                    /* Full height */
                    height: 100%; 
                
                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                </style>

   
 </div>
 <div class="bg"></div>
 <div class="container-fluid">
        <h1>Welcome to AM AUTOS</h1>
 </div>

{% endblock %}