<!doctype html>
<html>
<head>
<title>AM AUTO</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body>
<menu>
    <div class="topnav" id="myTopnav">
          <a href="/">HOME</a>
          <a href="/search">SEARCH INVENTORY</a>
          <a href="/about">ABOUT</a>
    </div>
</menu>
<form name="searchMe" id="SearchForm" method="POST">
    <label>Make</label>
    <select name="make">
      <option value="{{makes[0]}}" selected>{{makes[0]}}</option>
      {% for make in makes[1:] %}
        <option value="{{make}}">{{make}}</option>
      {% endfor %}
    </select>

    <label>Max Price Amount</label>
        <input type="text" name="price" id="price" onblur="isNumeric('price', 'price_msg')"/>
    <span class="error" id=price_msg></span>

    <div>

        <button type="submit" id="searchButton" value="Search">Search</button>
    </div>

</form>
</body>
</html>