<!doctype html>
<html>
<head>
<title>AM AUTO</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body>
<menu>
    <div class="topNav">
         <uL>
            <li><a href="/about">About</a></li>
            <li><a href="/search?q=Honda"s>Search Inventory</a></li>
        </uL>
    </div>
</menu>
<form name="searchMe" id="SearchForm" method="POST">
    <label>Car Type</label>
    <input type="text" name="carType" onblur="evalInput()"/>
    <button>Submit</button>

</form>
</body>
</html>